fastapi
uvicorn
python-multipart
python-docx
networkx
openai
python-dotenv
requests
beautifulsoup4
PyMuPDF
paramiko
colorama
matplotlib
graphviz
tqdm
google-generativeai
pydantic
numpy
pandas
scikit-learn
faiss-cpu
sentence-transformers
transformers
torch
python-jenkins>=1.8.0